<template>
  <container>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="desserts"
      :search="search"
    >
      <template v-slot:item.actions="{ item }">
        <v-btn text elevation="0" small @click="showCompanyDetails(item.id)">
          <v-icon small>mdi-pencil</v-icon>
        </v-btn>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip :color="getStatusColor(item.status_id)" dark small>{{ item.status }}</v-chip>
      </template>

        <template v-slot:item.type="{ item }">
        <v-chip :color="getTypeColor(item.type_id)" dark small>{{ item.type }}</v-chip>
      </template>

    </v-data-table>
  </container>
</template>

<script>
import Container from '../structure/Container';

export default {
  components: {Container},
  data () {
    return {
      search: '',
      headers: [
        {
          text: 'Empresa',
          align: 'start',
          value: 'name',
        },
        { text: 'Tipo', value: 'type' },
        { text: 'Situação', value: 'status' },
        { text: '', value: 'actions', sortable: false, align: 'end' }
      ],
      desserts: [
        {
          id: 1,
          name: 'Jeferson Capobianco Desenv',
          type: 'Abrir empresa',
          type_id: 1,
          status: 'Aguardando Documentação',
          status_id: 5
        },
        {
          id: 2,
          name: 'Jeferson Capobianco Desenv',
          type: 'Transferência',
          type_id: 0,
          status: 'Cancelado',
          status_id: 6

        },
        {
          id: 3,
          name: 'Jeferson Capobianco Desenv',
          type: 'Transferência',
          type_id: 0,
          status: 'Finalizado',
          status_id: 7
        },
      ],
    }
  },
  methods: {
    getStatusColor (status_id) {
      const colors = {
        6: 'red',
        5: 'orange',
        7: 'green'
      }

      return colors[status_id]
    },

    getTypeColor (type_id) {
      const colors = {
        0: 'blue',
        1: 'purple'
      }

      return colors[type_id]
    },

    showCompanyDetails(company_id) {
      this.$router.push({ path: `/company/${company_id}` })
    }
  },
}
</script>
