<template>
  <v-card id="container" elevation="3">
    <slot></slot>
  </v-card>
      
</template>

<script>
  export default {
  }
</script>

<style lang="sass">
#container
  max-height: calc(100vh - 170px)
  overflow: hidden
  overflow-y: scroll
</style>
