<template>
    <v-card 
        id="container-wrapper"
        class="overflow-hidden"
    >
    <v-navigation-drawer
        v-model="drawer"
        color="blue"
        :expand-on-hover="true"
        :mini-variant="true"
        absolute
        dark
    >
        <v-list
        dense
        nav
        class="py-0"
        >
        <v-list-item two-line class="px-0">
            <v-list-item-avatar>
              <v-icon>mdi-share-variant</v-icon>
            <!-- <img src="https://randomuser.me/api/portraits/men/81.jpg"> -->
            </v-list-item-avatar>

            <v-list-item-content>
            <v-list-item-title>Application</v-list-item-title>
            <v-list-item-subtitle>Subtext</v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item
            v-for="item in items"
            :key="item.title"
            :to="item.link"
            link
        >
            <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
        </v-list-item>
        </v-list>
    </v-navigation-drawer>
    </v-card>
</template>

<script>
export default {
  name: 'App',

  data () {
    return {
      drawer: true,
      items: [
        { title: 'Empresas', icon: 'mdi-office-building', link: '/company' },
        { title: 'Photos', icon: 'mdi-image', link: '/' },
        { title: 'About', icon: 'mdi-help-box', link: '/teste' },
      ],
    }
  },
};
</script>