<template>
  <v-toolbar 
    id="sidebar"
    prominent 
    extended
    color="blue darken-2"
    dark
  >
    <v-app-bar-nav-icon></v-app-bar-nav-icon>

    <v-toolbar-title>teste</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-heart</v-icon>
    </v-btn>

    <v-btn icon>
      <v-icon>mdi-dots-vertical</v-icon>
    </v-btn>
  </v-toolbar>
      
</template>

<script>
  export default {
    data () {
      return {}
    }
  }
</script>

<style lang="sass">
  #sidebar
    height: 200px
    padding-left: 56px 
</style>