<template>
  <v-app>
    <v-container fluid>
      <navbar />
      <sidebar />

      <v-container id="content-wrapper">
        <router-view></router-view>
      </v-container>

    </v-container>
  </v-app>
</template>

<script>
import Navbar from './components/structure/Navbar';
import Sidebar from './components/structure/Sidebar';

export default {
  name: 'App',
  components: {Navbar, Sidebar},
  data () {
    return {
    }
  },
};
</script>

<style lang="sass">
  #container-wrapper 
    position: absolute
    margin: 12px
    top: 0
    bottom: 0
    left: 0
    right: 0
    border-radius: 4px
  
  #content-wrapper
    width: calc(80% + 56px)
    margin-top: -48px 
    margin-left: 10%
    padding: 0 0 12px 0
</style>